/* PHASE 11: Icons */
.icon-comment{
  background-position: 0px 0px;
}
.icon-comment:hover{
  background-position: 0px -25px;
}
.icon-reblog{
  background-position: 0px -100px;
}
.icon-reblog:hover{
  background-position: 0px -125px;
}
.icon-favorite{
  background-position: 0px -50px;
}
.icon-favorite:hover{
  background-position: 0px -75px;
}

[class*="icon-"] {
  display: inline-block;
  background-image: url(../docs/images/sprite.png);
  width: 25px;
  height: 25px;
  background-size: 25px 250px;
}
[class*="small-icon"] {
  /* display: inline-block; */
  background-image: url(../docs/images/sprite.png);
  width: 20px;
  height: 20px;
  background-size: 25px 250px;
}

.small-icon-wall{
  background-position: 0px -225px;
}